<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input [placeholder]="placeholderPais"
        (onEnter)="buscar($event)" 
        (onDebounce)="sugerencias($event)"></app-pais-input>
    </div>
</div>

<ul class="list-group">
    <li *ngFor="let pais of paisesSugeridos"
        class="list-group-item list-group-item-action">{{pais.name.common}}</li>
</ul>


<hr>
<div *ngIf="hayError" class="alert alert-danger">No se encontró el termino {{termino}}</div>

<div *ngIf="!hayError" class="row">
    <div class="col">

        <app-tabla [paises]="paises"></app-tabla>

    </div>
</div>